@font-face {
    font-family: 'SourceSansProRegular';
    src: url(fonts/SourceSansPro-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; width: 100%;
    padding: 0; margin: 0;
}

body {
    font-family: 'SourceSansProRegular', sans-serif;
    background-color: #071629;

}

.homepage-header {
    background-image: url(images/pic_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

a:hover, a:focus {
    color: white !important;
}

.navbar-header{
    text-align:center;
}

.navbar-toggle {
    float: none;
    margin-right:0;
}

.menu {
    position: static;
    padding-top: 10px;
}

.get-schooled {
    padding-top: 115px !important;
    font-size: 7vw;
    font-weight: 700;

}

.purple-button {
    position: relative;
    text-align: center;
    color: white;

}

.purple-button img {
    border-radius: 21px;
    box-shadow: rgba(0,0,0,0.7) 0 0 40px;
}

.purple-button p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
    .learn {
        padding-top: 100px !important;
    }

}

@media screen and (max-width: 991px) {

    .learn {
        padding-top: 100px !important;
        padding-bottom: 50px !important;
    }

}

@media screen and (max-width: 600px) {
    .get-schooled {
        font-size: 13vw;
    }

    .learn {
        padding-top: 100px !important;
    }
}

.learn .white-learn {
    font-family: 'SourceSansProRegular', sans-serif;
    font-style: normal;
    font-weight: 10;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: white;
    padding-top: 100px !important;
}

.purple-learn {
    color: #C271FF;
    font-family: 'SourceSansProRegular', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.person-name, .person-desc {
    color: white;
}

.person-name {
    font-weight: 900;
}

.person-desc {
    font-weight: 1;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
}

.carousel-section {
    background-color: #C271FF;
}

.person-quote, .person-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 34px;

}

.person-title {
    font-style: italic;
    font-size: 18px;
    font-weight: lighter;
}

.carousel .carousel-control-prev-icon {
    background-image: url(/images/arrow_white_left.png);
}

.carousel .carousel-control-next-icon {
    background-image: url(/images/arrow_white_right.png);
}

.tutorials-section {
    background-color: #FFFFFF;
}

.black-arrow {
    color: black;
}
.play-img {
    margin: -110px 0 40px 85px;
}

.play-img-tablet {
    margin: -110px 0 40px 180px;
    margin-top: -195px;
}

.purple-text {
    color:#C271FF;
}

.smiles-header {
    background-image: none;
}

.btn.register-btn {
    background-color: #C271FF;
    width: 162px;
    height: 44px;
    font-size: 14px;
    border-radius: 22px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

.footer {
    background-color: #071629;
    height: 249px;
}
.footer .container {
    height: 100%;
}

.footer .row {
    height: 100%;
}

.footer .footer-item {
    padding: 0;
}

.footer .social-item {
    font-size: 30px;
}
.footer .social-item a {
    color: white;
    text-decoration: none;
}

.footer .twitter-icon {
    padding: 0 20px;
}

.footer .trademark {
    padding-bottom: 39px;
}

@media screen and (max-width: 991px) {
    .footer {
      padding-left: 40px;
      padding-right: 40px;
    }
}

@media screen and (max-width: 576px) {
    .footer {
      height: auto;
    }
    .footer .row {
      height: auto;
    }
    .footer .trademark {
      padding-bottom: 0;
    }
    .footer .row {
      padding-top: 50px;
      padding-bottom: 34px;
    }
    .footer .social.nav {
      padding: 0px;
    }
    .footer .social {
      padding: 45px 0;
    }
}
